@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */

body {
  @apply font-sans bg-white text-gray-800;
}
/* ================= LAYOUT ================= */

.container-custom {
  @apply max-w-7xl mx-auto px-6;
}

.section-padding {
  @apply py-24;
}

/* FEATURES CARDS */
.features-section {
  @apply bg-[#f6f8fb] section-padding;
}

.features-grid {
  @apply container-custom grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-16;
}

.feature-card {
  @apply bg-white px-10 py-8 rounded-2xl border border-gray-400 shadow-sm transition hover:border-[#C9A227] hover:shadow-lg;
}

.feature-icon {
  @apply w-12 h-12 rounded-xl bg-gray-200 flex items-center justify-center mb-6 transition;
}

.feature-card:hover .feature-icon {
  @apply bg-[#0A1F44] text-white translate-y-[-4px];
}

.feature-title {
  @apply text-lg font-semibold text-[#0A1F44] mb-2;
}

.feature-text {
  @apply text-sm text-gray-600 leading-relaxed;
}

/* SECTION TITLES, SUBTITLES & LINES */

.section-title {
  @apply text-4xl font-bold text-[#0A1F44];
}

.section-underline {
  @apply w-16 h-1 bg-[#C9A227] mx-auto my-6 rounded-full;
}

.section-subtitle {
  @apply text-gray-600 text-center max-w-2xl mx-auto leading-relaxed;
}

/* FLOATING BUTTON */

.floating-btn {
  @apply fixed bottom-8 right-8 bg-[#1E3A8A] text-white w-14 h-14 rounded-full flex items-center justify-center shadow-lg transition duration-300;
}

.floating-btn:hover {
  @apply bg-[#162f6a] shadow-xl scale-105;
}


/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
  .floating-btn {
    @apply w-12 h-12
  }
}